<div class="courses-container">
  <div class="course-card" *ngFor="let course of courses">
    <img [src]="course.image" alt="Course Image" class="course-image">
    <div class="course-details">
      <h2 class="course-title">{{ course.title }}</h2>
      <p class="course-description">{{ course.description }}</p>
      <div class="course-price">
        <span>Price: ₹{{ course.price }}</span>
      </div>
      <div class="course-buttons">
        <button class="enroll-btn" (click)="enroll(course)">Enroll Now</button>
        <button class="explore-btn" (click)="explore(course.id)">Explore</button>
        <!-- <button (click)="viewBilling(course)">Proceed to Payment</button> -->

      </div>
    </div>
  </div>
</div>
